/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --header-title-sub: #353430;
  --button-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #FFC2E6;
  --text-color: #353430;
  --bg-color: #fff1f7;
  --bg-img: var(--bg-light-img);
  --rec-visible: none;
  --btn-hover: var(--btn-light-hover);
}

.theme-light .header__theme-menu-button:hover {
  outline: 1px solid var(--btn-hover);
}

.theme-light .header__theme-menu-button_type_light {
  outline: 1px solid var(--button-color);
  border: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --header-title-sub: #353430;
    --button-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --bg-color: #fff1f7;
    --bg-img: url(../images/cover-image-light.png);
    --rec-visible: none;
    --btn-hover: var(--btn-light-hover);
  }

}
