/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-img);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: var(--font-family-main), sans-serif;
  font-weight: 400;
  font-size: var(--font-size-18);
  line-height: 23.4px;
  background-color: var(--bg-color);
}

.header {
  min-block-size: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 768px;
  padding: 20px;
  padding-left: 0px;
  margin-bottom: 60px;
}

.header_rec {
  position: absolute;
  display: var(--rec-visible);
  inset-inline-end: 29px;
  inset-block-start: 20px;
  align-items: center;
  color: var(--button-color);
  font-size: var(--font-size-18);
  font-weight: inherit;
  font-family: inherit;
  text-transform: uppercase;
}

.header_rec::after {
  display: block;
  align-self: center;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  content: "";
  background-color: var(--accent-color);
  margin-left: 10px;
  box-shadow: 0px 0px 3px 2px var(--accent-color);
}

.decorated-zone::before {
  position: absolute;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
  inline-size: 25px;
  block-size: 25px;
  content: "";
  top: 0;
  right: 0;
  margin: 20px;
}

.decorated-zone::after {
  position: absolute;
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
  inline-size: 25px;
  block-size: 25px;
  content: "";
  bottom: 0;
  left: 0;
  margin: 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-left: 20px;
}

.header__theme-menu-button {
  color: var(--button-color);
  background-color: transparent;
  border: none;
  text-align: center;
  padding: 0px 13px;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--btn-hover);
  cursor: pointer;
}

.header__theme-menu-button:active {
  outline: 1px solid var(--button-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--btn-hover);
}

.theme-auto .header__theme-menu-button_type_auto {
  outline: 1px solid var(--btn-hover);
}

.decor-title-main {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: var(--font-weight-700);
  line-height: 83%;
}

.title-decor {
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-700);
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: var(--header-title-sub);
}

.header_text {
  inline-size: 491px;
  font-family: inherit;
  align-self: center;
  justify-self: end;
}

main {
  font-family: var(--font-family-main), sans-serif;
  font-size: var(--font-size-18);
  line-height: 23.4px;
  font-weight: 400;
  margin: 0px 20px;
}

.section_about_complexity {
  display: grid;
  grid-template-columns: 34% 66%;
}

.section_answer_title {
  color: var(--button-color);
  font-family: inherit;
  font-weight: var(--font-weight-700);
  font-size: inherit;
  line-height: inherit;
  max-width: 315px;
}

.section_answer_text {
  color: var(--text-color);
  font-size: var(--font-size-18);
  margin-bottom: 20px;
}

.decor_text_link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.decor_text_link:hover {
  border-bottom: 1px solid var(--text-color);
}

.decor_text_link:focus {
  outline: none;
}

.decor_text_link:focus-visible {
  outline: 1px solid var(--text-color);
}

.section_answer_text_title {
  margin-bottom: 10px;
}

.section_about_concentration {
  padding-block-start: 60px;
  padding-block-end: 60px;
}

.section_about_concentration_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-block-start: 20px;
  gap: 20px;
  justify-content: center;
}

.section_about_good_concentration {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-end: 69px;
}

.section_about_recommendations {
  display: grid;
}

.section_answer_text_recommendations {
  margin-bottom: 10px;
}

.section_about_sub-item {
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 10px;
}

.section_about_title_image {
  margin-bottom: 20px;
}

.section_about_image_container {
  display: grid;
  gap: 20px;
  padding-block-end: 60px;
}

.section_about_image_item {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.section_about_image_item:first-of-type {
  grid-column: 1 / 3;
}

.section_about_image_item:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.section_about_image_item:nth-of-type(3) {
  grid-row: 2 / 4;
}

.section_about_image_item:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.section_about_image_item:last-of-type {
  grid-column: 2 / 4;
}

.footer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer_title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: var(--font-weight-700);
  line-height: 83%;
}

@media (width <= 768px) {
  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header {
    height: 100vh;
    min-height: 1024px;
  }

  .decor-title-main {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
  }

  .header_text {
    max-inline-size: 364px;
    display: flex;
  }

  .section_answer_title {
    grid-template-columns: 33% 67%;
    max-inline-size: 236px;
    gap: 20px;
  }

  .card {
    margin-left: 8px;
  }

  .section_about_concentration_container {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .section_about_good_concentration {
    display: grid;
    grid-template-columns: 35% 65%;
  }

  .footer {
    display: flex;
    padding: 20px;
    justify-content: center;
    min-block-size: 1024px;
  }
}

@media (width <= 600px) {

  main {
    margin: 0px 10px;
  }

  .card {
    margin-left: 0px;
  }

  .header {
    height: 100vh;
    min-height: 668px;
    margin-left: 10px;
    margin-bottom: 40px;
  }

  .decorated-zone::after {
    margin: 10px;
    margin-left: 0px;
  }

  .decorated-zone::before {
    margin: 10px;
  }

  .header_rec {
    inset-inline-end: 20px;
    inset-block-start: 11px;
  }

  .decor-title-main {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__theme-menu {
    margin-bottom: 13px;
  }

  .header_text {
    margin-top: 8px;
    max-inline-size: 355px;
  }

  .section_about_complexity {
    display: flex;
    flex-direction: column;
  }

  .section_answer_title {
    max-inline-size: none;
    margin-bottom: 20px;
  }

  .section_about_concentration {
    padding-block-start: 30px;
    padding-block-end: 29px;
  }

  .section_about_concentration_container {
    padding-block-start: 0px;
  }

  .section_about_good_concentration {
    display: flex;
    flex-direction: column;
    padding-block-end: 38px;
  }

  .section_about_title_image {
    margin-bottom: 11px;
  }

  .section_about_image_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block-end: 41px;
  }

  .footer {
    height: 100vh;
    min-height: 668px;
    margin-left: 10px;
  }

  .footer_title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-right: 10px;
  }
}

@media (width <= 499px) {
  .section_answer_title {
    overflow-wrap: break-word;
  }
}